{% extends 'main.html' %}

{% load static %}

{% block content %}

    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="{% static 'img/carousel-1.png' %}" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h4 class="text-black text-uppercase mb-md-3">CHAVEIROS NFC</h4>
                            <h1 class="display-3 text-black mb-md-4">Torne mais facil compartilhar suas redes sociais</h1>
                            <a href="/product/" class="btn btn-primary py-md-3 px-md-5 mt-2">Produtos</a>
                            <a href="/about/" class="btn btn-primary py-md-3 px-md-5 mt-2">Sobre Nós</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="{% static 'img/carousel-1.png' %}" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h4 class="text-black text-uppercase mb-md-3">CHAVEIROS NFC</h4>
                            <h1 class="display-3 text-black mb-md-4">Mostre um pouquinho de você para o mundo</h1>
                            <a href="/product/" class="btn btn-primary py-md-3 px-md-5 mt-2">Produtos</a>
                            <a href="/about/" class="btn btn-primary py-md-3 px-md-5 mt-2">Sobre Nós</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="{% static 'img/carousel-1.png' %}" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h4 class="text-black text-uppercase mb-md-3">CHAVEIROS NFC</h4>
                            <h1 class="display-3 text-black mb-md-4">Quebre o gelo com novos amigos</h1>
                            <a href="/product/" class="btn btn-primary py-md-3 px-md-5 mt-2">Produtos</a>
                            <a href="/about/" class="btn btn-primary py-md-3 px-md-5 mt-2">Sobre Nós</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span> 
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Carousel End -->

    <!-- Firm Visit Start -->
    <div id= "section-tag">
        <div class="container-fluid bg-primary mt-5 py-6">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-md-7 wow fadeIn" data-wow-delay="0.1s">
                        <h1 class="display-5 text-white mb-3">Você nos Visitou pelo Planfeto?</h1>
                        <h3 class="display-10 text-white mb-3">Bem Vindo ao Caça Tag.</h3>                    
                        <p class="text-white mb-0">O Caça Tag é uma promoção em que se você achar o planfeto sorteado você ganha um chaveiro a sua escolha. É so aproximar seu celular do panfleto Monifa e tentar a sorte, se você for sorteado ou sorteada, aparecerá um formulario de cadastro e te enviaremos seu chaveiro NFC. <br> Boa Sorte a Todos e que a Caça comece! </p>
                        <strong><p class="text-white mb-0">AVISO: haverá apenas um ganhador</p></strong>
                    </div>
                    <div class="col-md-5 text-md-end wow fadeIn" data-wow-delay="0.5s">
                        <a class="btn btn-lg btn-secondary rounded-pill py-3 px-5" href="/product/">Produtos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Firm Visit End -->

    <!-- Video Modal Start -->
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>        
                    <!-- 16:9 aspect ratio -->
                    <div class="align-items-center align-content-center embed-responsive-21by9">
                        <iframe width="348" height="618" src="https://www.youtube.com/embed/-mzFIB4UCx0" title="feature video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Modal End -->

    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <!-- <div class="about-img position-relative overflow-hidden p-5 pe-0"> -->
                        <img class="img-fluid w-100" src="{% static 'img/about.png' %}">
                    <!-- </div> -->
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-5 mb-4">O que é um Chaveiro NFC?</h1>
                    <p class="mb-4">
                        Você está cansado de ter que digitar seus dados manualmente toda vez que conhece alguém novo? Quer compartilhar suas informações facilmente e sem esforço? Então você precisa do chaveiro NFC!
                        <br>
                        Com a nova tecnologia NFC, agora é possível compartilhar seus dados com quem você quiser, de maneira rápida e simples. Basta aproximar seu chaveiro do celular e seus dados serão automaticamente transferidos para a pessoa com quem você está compartilhando.
                        <br>
                        Este chaveiro é perfeito para profissionais de negócios, estudantes, e todos aqueles que estão sempre em movimento e precisam compartilhar seus dados frequentemente. O chaveiro NFC é como um cartão de visita, mas ainda mais fácil de usar.
                        <br>
                        Não perca mais tempo digitando informações manualmente, experimente o chaveiro NFC hoje e descubra como é fácil compartilhar seus dados!
                    </p>
                    <p><i class="fa fa-check text-primary me-3"></i>Tenha mais Facilidade</p>
                    <p><i class="fa fa-check text-primary me-3"></i>Seja mais Conectado</p>
                    <p><i class="fa fa-check text-primary me-3"></i>Mostre seu Estilo</p>
                    
                    <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                        <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="/about/">Saiba mais</a>
                        
                        <div class="px-3"></div>
                        <button type="button" class="btn-play" data-toggle="modal"
                            data-src="" data-target="#videoModal">
                            <span></span>
                        </button>
                        <div class="px-3">Play Video</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Feature Start -->
    <div class="container-fluid bg-light my-5 py-6">
        <div class="container">
            <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-5 mb-3">Nossos Recursos</h1>
                <p>Queremos que você se sinta você mesmo e mostre para o mundo o que você quiser, por isso o nosso produto te da a possibilidade de:</p>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="bg-secondary text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="{% static 'img/icon-1.png' %}" alt="">
                        <h4 class="mb-3">Chaveiro Sustentável </h4>
                        <p class="mb-4">Nossos chaveiros são feitos de acrilico um material 100% reciclável. <br> Um chaveiro sustentável que pode ser colocado em qualquer lugar. </p>
                        <a class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill" href="/product/">Saiba Mais</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="bg-secondary text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="{% static 'img/icon-2.png' %}" alt="">
                        <h4 class="mb-3">Foto Personalizavel</h4>
                        <p class="mb-4">É você que escolhe a Foto para o seu chaveiro, por que se conectar com as pessoas é mostrar um pouquinho do que você gosta logo de cara.</p>
                        <a class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill" href="/product/">Saiba Mais</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="bg-secondary text-center h-100 p-4 p-xl-5">
                        <img class="img-fluid mb-4" src="{% static 'img/icon-3.png' %}" alt="">
                        <h4 class="mb-3">Link Personalizavel</h4>
                        <p class="mb-4">Essa é a parte mais legal, você escolhe o link que quer compartilhar, pode ser o seu facebook, instagram ou a sua linketree.</p>
                        <a class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill" href="/product/">Saiba Mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->


    {% include 'product_section.html' %}


    <!-- Back to Top -->
    <a href="#section-tag" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-tag mb-5">
        <img src="{% static 'img/icon-pro.gif' %}" alt="" class="rounded-circle">
    </a>
{% endblock %}